.color-500 {
	-fx-background-color: #2196F3;
}

.color-700 {
	-fx-background-color: #1976D2;
}

.color-accent {
	
}

.color-white {
	-fx-background-color: white;
}

.text-white {
	-fx-text-fill: white;
}