/* @font-face {
    font-family: Myanmar3;
    src: url("../font/myanmar/Myanmar3.ttf");
}*/

@font-face {
    font-family: Roboto;
    src: url("Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Medium";
    src: url("Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("Roboto-Bold.ttf");
}

.main-layout {
	-fx-pref-width: 1280px;
	-fx-pref-height: 720px;
	-fx-background-color: -color-back;
}

.toolbar {
	-fx-pref-height: 70px;
	-fx-max-height: 70px;
	-fx-background-color: -color-primary;
}

.shadow {
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.26) , 10, 0.12, 1, 0);
}

.shadow-compact {
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.36) , 5, 0.12, 0, 0);
}


/*
 * Font sizes
 */

.fs-16 {
	-fx-font-size: 16px;
}
.fs-24 {
	-fx-font-size: 24px;
}
.fs-32 {
	-fx-font-size: 32px;
}
.fs-48 {
	-fx-font-size: 48px;
}

.jfx-combo-box,
.jfx-password-field,
.jfx-text-area,
.jfx-text-field,
.jfx-button,
Label {
	-fx-font-family: "sans-serif";
}

.font-normal {
	-fx-font-weight: normal;
}

.font-bold {
	-fx-font-weight: bold;
}

/*
 * TextField
 */
 
 .operation-text-field {
 	-fx-text-fill: -text-default;
 	-fx-prompt-text-fill: -text-default-secondary;
 }
 
 /*
  *  Button
  */

.operation-btn {
	-fx-pref-width: 100px;
	-fx-pref-height: 40px;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.36) , 5, 0.12, 0, 0);
} 

.operation-icon-btn {
	-fx-pref-width: 40px;
	-fx-pref-height: 40px;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.26) , 10, 0.12, -1,2);
}

/*
 * Padding
 */
 
 .padd-8 {
 	-fx-padding: 8 8 8 8;
 }
 
 .padd-16 {
 	-fx-padding: 16 16 16 16;
 }
 
 .padd-24 {
 	-fx-padding: 24 24 24 24;
 }
 
 .padd-left-8 {
 	-fx-padding: 0 0 0 8;
 }
 
 .padd-left-16 {
 	-fx-padding: 0 0 0 16;
 }
 
 .padd-left-24 {
 	-fx-padding: 0 0 0 24;
 }
 
 .padd-right-8 {
 	-fx-padding: 0 8 0 0;
 }
 
 .padd-right-16 {
 	-fx-padding: 0 16 0 0;
 }
 
 .padd-right-24 {
 	-fx-padding: 0 24 0 0;
 }
 
 /*
  * Spacing
  */
  
.space-8 {
	-fx-spacing: 8px;
}

.space-12 {
	-fx-spacing: 12px;
}

.space-16 {
	-fx-spacing: 16px;
}

.space-24 {
	-fx-spacing: 24px;
}

.space-32 {
	-fx-spacing: 32px;
}

.space-48 {
	-fx-spacing: 48px;
}
 
 /*
  * Background Radius
  */
  
.back-radius-2 {
  	-fx-background-radius: 2px;
}

.back-radius-3 {
  	-fx-background-radius: 3px;
}

/*
 * Border
 */
 
.border-1 {
	-fx-border-color: #757575;
	-fx-border-radius: 2px;
	-fx-border-width: 1px;
}

/*
 * Pagination
 */

.pagination {
    -fx-base: transparent;
    -fx-arrow-button-gap: 10;
    -fx-page-information-visible: false;
}

.pagination .toggle-button {
    -fx-background-radius: 2px;
    -fx-pref-width: 30px;
    -fx-background-color: -color-transparent;
    -fx-text-fill: -text-default;
	-fx-font-family: "sans-serif";
}

.pagination .toggle-button:hover {
	-fx-background-radius: 2px;
    -fx-background-color: #e2e2e2;
	-fx-cursor: hand;
}

.pagination .toggle-button:selected {
	-fx-background-radius: 2px;
    -fx-background-color: -color-accent;
    -fx-text-fill: -text-accent;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.26) , 10, 0.12, -1, 1);
}

.pagination .button .left-arrow {
	 /* This is used for making the Arrow Button Curve*/
    -fx-background-color: #424242;
    -fx-cursor: hand;
}

.pagination .button .right-arrow {
	 /* This is used for making the Arrow Button Curve*/
    -fx-background-color: #424242;
    -fx-cursor: hand;
}

.pagination .label {
    -fx-text-fill: #4a4a4a;
}

/*
 * TableView
 */
 
.table-container {
	-fx-background-color: white;
	-fx-background-radius: 2px;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.36) , 5, 0.12, 0, 0);
	-fx-padding: 8;
}

TableView {
	-fx-border-color: white , white, -fx-control-inner-background;
	-fx-border-radius: 2px;
	-fx-background-radius: 2px;
	-fx-padding: 0;
}

TableView .arrow {
	-fx-background-color: #212121;
}

TableView:focused {
	-fx-background-color: white , white, -fx-control-inner-background;
}

TableView .column-header, .table-menu-button {
	-fx-border-color: #212121;
	-fx-border-width: 0 0 0.5 0;
	-fx-background-color: white;
	-fx-pref-height: 50px;
}

TableView .filler {
    -fx-background-color: white;
}

TableView .table-row-cell {
	-fx-background-color: white;
	-fx-border-color: #757575;
	-fx-border-width: 0 0 0.1 0;
}

TableView .table-row-cell:empty {
	-fx-background-color: white;
	-fx-border-color: transparent;
}

TableView .table-row-cell:empty:hover {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

TableView .table-row-cell:selected {
	-fx-background-color: -color-highlight;
	-fx-table-cell-border-color: transparent;
}

TableView .table-row-cell:hover {
	-fx-background-color: -color-highlight;
}

TableView .table-row-cell:selected .table-cell {
	-fx-text-fill: -text-default;
}

TableView .table-row-cell .table-cell {
	-fx-table-cell-border-color: transparent;
	-fx-alignment: top-left;
	-fx-fill: #212121;
	-fx-padding: 12 15 12 15;
}

TableView .column-header SVGPath {
	-fx-fill: #212121;
}

TableView .column-header Label {
	-fx-text-fill: -text-default;
	-fx-font-family: "sans-serif";
	-fx-alignment: center-left;
	-fx-padding: 0 0 0 15;
}

TableView .column-header.header-left15 Label {
	-fx-alignment: center-left;
	-fx-padding: 0 15 0 15;
}

/*
 * SnackBar
 */

.jfx-snackbar-content {
    -fx-background-color: -color-transparent-lo;
}

.jfx-snackbar-toast {
    -fx-text-fill: -color-white;  
}
.jfx-snackbar-action {
    -fx-text-fill: #ff4081; 
}

/*
 * Spinner
 */

/*.custom-spinner {
	-jfx-radius: 30;
}*/
 
.custom-spinner > .arc {
    -fx-stroke-width: 5.5;
    -fx-stroke: -color-accent;
}

/*
 * ScrollBar
 */

.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: #F1F1F1;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: #BCBCBC;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button {
    -fx-padding: 5 2 5 2;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: rgb(150.0, 150.0, 150.0);
}

/*
 * Context Menu
 */

.context-menu {
    -fx-background-color: -color-white;
    -fx-padding: 5px;
    -fx-background-radius: 2px;
}

.context-menu .menu-item {
	-fx-cursor: hand;
	-fx-padding: 8px;
	-fx-pref-width: 150px;
}

.context-menu .menu-item .label {
	-fx-font-family: "sans-serif";
	-fx-text-fill: -text-default
}

.context-menu .menu-item SVGPath {
	-fx-fill: -text-default;
}

.context-menu .menu-item:focused {
  	-fx-background-color: -color-accent;
}

.context-menu .menu-item:focused .label {
  	-fx-text-fill: -text-accent;
}

.context-menu .menu-item:focused SVGPath {
  	-fx-fill: -text-accent;
}

/*
 * ComboBox
 */
 
.combo-box-popup .combo-box-popup .list-view .jfx-list-cell {
    -fx-background-insets: 0.0;
    -fx-text-fill: -text-default;
	-fx-font-family: "sans-serif";
}
 
.customize-combo .combo-box-popup .list-view {
    -fx-background-color: #fff;
    -fx-background-radius: 2px;
    -fx-padding: 5px;
    -fx-background-insets: 2 0 0 0, 0;
}

.customize-combo .combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: -color-accent;
    -fx-text-fill: -text-accent;
}

.customize-combo .combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: -color-accent;
    -fx-text-fill: -text-accent;
}

/*
 * Progress Indicator 
 */

.progress-indicator {
    -fx-progress-color: -color-accent;
}

.progress-indicator .percentage {
    -fx-fill: #fff;
}