.root {
	-color-primary: #D94B4B;
	-color-primary-dark: #CF3B3B;
	-color-accent: #D94B4B;
	-color-primary-light: #F4C9C9;
	-color-white: #ffffff;
	-color-transparent: rgba(0, 0, 0, 0);
	-color-transparent-lo: rgba(0, 0, 0, 0.7);
	-text-white: #fff;
	-text-default: #4a4a4a;
	-text-promote-default: #757575;
}

.color-primary {
	-fx-background-color: -color-primary;
	-fx-text-fill: #fff;
}

.color-primary-dark {
	-fx-background-color: -color-primary-dark;
	-fx-text-fill: #fff;
}

.color-accent {
	-fx-background-color: -color-accent;
	-fx-text-fill: #fff;
}

.color-white {
	-fx-background-color: -color-white;
}

.color-black {
	-fx-background-color: #000000;
}

.color-transparent {
	-fx-background-color: rgba(0, 0, 0, 0);
}

.color-transparent-lo {
	-fx-background-color: rgba(0, 0, 0, 0.7);
}

.text-white {
	-fx-text-fill: #fff;
}

.text-default {
	-fx-text-fill: #4a4a4a;
}

.text-primary {
	-fx-text-fill: -color-primary;
}

.text-primary-dark {
	-fx-text-fill: -color-primary-dark;
}

.text-accent {
	-fx-text-fill: -color-accent;
}

.text-promote-default {
	-fx-prompt-text-fill: #757575;
}

.jfx-snackbar-content {
    -fx-background-color: -color-transparent-lo;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;   
}
.jfx-snackbar-action {
    -fx-text-fill: #ff4081; 
}
