.root {
	-color-primary: #2196F3;
	-color-primary-dark: #1976D2;
	-color-accent: #EF5350;
	-color-highlight: #f2f2f2;
	-color-white: white;
	-color-back: #E3F2FD;
	-color-ripple: #e2e2e2;
	-color-transparent: rgba(0, 0, 0, 0);
	-color-transparent-lo: rgba(0, 0, 0, 0.7);
	-text-accent: white;
	-text-default: #212121;
	-text-default-secondary: #757575;
}

.color-primary {
	-fx-background-color: -color-primary;
	-fx-text-fill: -color-white;
}

.color-primary-dark {
	-fx-background-color: -color-primary-dark;
	-fx-text-fill: -color-white;
}

.color-accent {
	-fx-background-color: -color-accent;
	-fx-text-fill: -text-accent;
}

.color-white {
	-fx-background-color: white;
}

.color-black {
	-fx-background-color: black;
}

.color-back {
	-fx-background-color: -color-back;
}

.color-transparent {
	-fx-background-color: rgba(0, 0, 0, 0);
}

.color-transparent-lo {
	-fx-background-color: rgba(0, 0, 0, 0.7);
}

.text-white {
	-fx-text-fill: -color-white;
}

.text-default {
	-fx-text-fill: -text-default;
}

.text-default-secondary {
	-fx-text-fill: -text-default-secondary;
}

.text-primary {
	-fx-text-fill: -color-primary;
}

.text-primary-dark {
	-fx-text-fill: -color-primary-dark;
}

.text-accent {
	-fx-text-fill: -color-accent;
}

.text-promote-default {
	-fx-prompt-text-fill: -text-default-secondary;
}
