.root {
	-color-primary: #673AB7;
	-color-primary-dark: #512DA8;
	-color-accent: #2196F3;
	-color-highlight: #e9e9e9;
	-color-white: #ffffff;
	-color-back: #f2f2f2;
	-color-transparent: rgba(0, 0, 0, 0);
	-color-transparent-lo: rgba(0, 0, 0, 0.7);
	-text-default: #212121;
	-text-default-secondary: #757575;
}

.color-primary {
	-fx-background-color: -color-primary;
	-fx-text-fill: -color-white;
}

.color-primary-dark {
	-fx-background-color: -color-primary-dark;
	-fx-text-fill: -color-white;
}

.color-accent {
	-fx-background-color: -color-accent;
	-fx-text-fill: -color-white;
}

.color-white {
	-fx-background-color: -color-white;
}

.color-black {
	-fx-background-color: #000000;
}

.color-back {
	-fx-background-color: -color-back;
}

.color-transparent {
	-fx-background-color: rgba(0, 0, 0, 0);
}

.color-transparent-lo {
	-fx-background-color: rgba(0, 0, 0, 0.7);
}

.text-white {
	-fx-text-fill: -color-white;
}

.text-default {
	-fx-text-fill: -text-default;
}

.text-default-secondary {
	-fx-text-fill: -text-default-secondary;
}

.text-primary {
	-fx-text-fill: -color-primary;
}

.text-primary-dark {
	-fx-text-fill: -color-primary-dark;
}

.text-accent {
	-fx-text-fill: -color-accent;
}

.text-promote-default {
	-fx-prompt-text-fill: -text-default-secondary;
}
